.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: grid;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.form-container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.no-wallets-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.custom-button {
  background-color: #0A2C3D !important;
  color: #FFFFFF !important;
  border-radius: 8px !important;
  padding: 12px 20px !important;
  font-size: 16px;
  font-weight: bold;
  box-shadow: none !important;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #FFFFFF !important;
  color: #0A2C3D !important;
}
