<div class="container">
  <div class="container-sign-in">
    <div class="header">
      <span>Accede a </span>
      <h1>ByteBank</h1>
    </div>
    <div class="form-container">
      <form class="example-form" [formGroup]="form" (ngSubmit)="login()">
        <div class="form-field">
          <label>Nombre de Usuario</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="username" placeholder="Ingres el usuario" class="form-control">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error app-field-error-messages controlName="username">El nombre de usuario es
              <strong>requerida</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label>Contraseña</label>
          <mat-form-field appearance="outline">
            <input type="password" matInput formControlName="password" placeholder="Ingrese la contraseña"
              class="form-control">
            <mat-icon matSuffix>visibility</mat-icon>
            <mat-error app-field-error-messages controlName="password">La contraseña es
              <strong>requerida</strong></mat-error>
          </mat-form-field>
        </div>
        <button type="submit" [disabled]="form.invalid" class="primary-button">Ingresar</button>
      </form>
    </div>
    <label class="forget-password">¿Olvidaste tu contraseña?</label>
    <a routerLink="/register" class="create-account">¿No tienes una cuenta? <span>Registrate aquí</span></a>
  </div>
  <div class="container-logo">
    <img src="images/login.webp" alt="Sign In" class="non-selectable" draggable="false" />
  </div>
</div>
