<mat-sidenav-container class="container">
  <mat-sidenav-content>
    <div content>
      <app-wallet-details />
      <div class="title-container">
        <p class="block text-primary font-medium text-base text-center mt-3 ">
          Facturas/Letras pertenecientes a la cartera
        </p>
        <div>
          <button class="custom-button" mat-raised-button color="primary">AGREGAR</button>
        </div>
      </div>
      <app-wallet-bills-table />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
