/* You can add global styles to this file, and also import other style files */
@tailwind utilities;
:root {
  --primary-color: #02273a;
  --accent-color: #34a1de;
  --border-color: #7c8fac;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
