<mat-sidenav-container class="container">
    <mat-sidenav-content>
      <div class="flex flex-row gap-40 mt-10">
        <div class="title mr-20">
          <h2>Cartera Alfa</h2> <!-- Dato ejemplo -->
        </div>
        <div class="selector ml-96">
          <mat-form-field appearance="outline" class="date-selector">
            <mat-label>Seleccione mes</mat-label>
            <mat-select>
              <mat-option value="septiembre-2024">Septiembre 2024</mat-option> <!-- Dato ejemplo -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="content">

        <div class="mb-16">
          <p class="subtitle">Resumen</p>
        </div>

        <div class="summary">
          <div class="summary-item">
            <span class="label">TCEA</span>
            <span class="value">12.5%</span> <!-- Dato ejemplo -->
          </div>
          <div class="summary-item">
            <span class="label">Valor Recibido Total</span>
            <span class="value">150,000</span> <!-- Dato ejemplo -->
          </div>
          <div class="summary-item">
            <span class="label">Valor Nominal Total</span>
            <span class="value">200,000</span> <!-- Dato ejemplo -->
          </div>
          <div class="summary-item">
            <span class="label">Intereses Totales</span>
            <span class="value">10,000</span> <!-- Dato ejemplo -->
          </div>
          <div class="summary-item">
            <span class="label">Gastos Totales</span>
            <span class="value">5,000</span> <!-- Dato ejemplo -->
          </div>
          <div class="summary-item">
            <span class="label">Flujo de Efectivo Total</span>
            <span class="value">145,000</span> <!-- Dato ejemplo -->
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
